.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
    background-color: white;
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 3em;
    left: 9em;
    right: 0;
    z-index: 1;
  }